.frame12391-frame12391 {
    width: 1440px;
    height: 5209px;
    display: flex;
    position: relative;
    box-sizing: border-box;
    align-items: flex-start;
    border-color: transparent;
    background-color: rgba(25, 18, 46, 1);
  }
  .frame12391-image {
    top: -1px;
    width: 1440px;
    height: 5210px;
    position: absolute;
    object-fit: cover;
    border-color: transparent;
  }
  .frame12391-text {
    top: 153px;
    left: 953px;
    color: rgba(255, 255, 255, 1);
    width: 62px;
    height: 14px;
    position: absolute;
    font-size: 14px;
    align-self: auto;
    font-style: normal;
    text-align: left;
    font-family: Rubik Mono One;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
  }
  .frame12391-text01 {
    top: 153px;
    left: 1077px;
    color: rgba(255, 255, 255, 1);
    width: 58px;
    height: 14px;
    position: absolute;
    font-size: 14px;
    align-self: auto;
    font-style: normal;
    text-align: left;
    font-family: Rubik Mono One;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
  }
  .frame12391-text02 {
    top: 154px;
    left: 1197px;
    color: rgba(255, 255, 255, 1);
    width: 98px;
    height: 14px;
    position: absolute;
    font-size: 14px;
    align-self: auto;
    font-style: normal;
    text-align: left;
    font-family: Rubik Mono One;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
  }
  .frame12391-text03 {
    top: 1215px;
    left: 414px;
    color: rgba(255, 255, 255, 1);
    width: 663px;
    height: 98px;
    position: absolute;
    font-size: 19px;
    align-self: auto;
    font-style: normal;
    text-align: left;
    font-family: Rubik Mono One;
    font-weight: 400;
    line-height: 110.80000400543213%;
    font-stretch: normal;
  }
  .frame12391-text07 {
    top: 1467px;
    left: 85px;
    color: rgba(255, 255, 255, 1);
    width: 329px;
    height: 105px;
    position: absolute;
    font-size: 14px;
    align-self: auto;
    font-style: normal;
    text-align: left;
    font-family: Rubik Mono One;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
  }
  .frame12391-text11 {
    top: 1726px;
    left: 143px;
    color: rgba(255, 255, 255, 1);
    width: 299px;
    height: 252px;
    position: absolute;
    font-size: 14px;
    align-self: auto;
    font-style: normal;
    text-align: left;
    font-family: Rubik Mono One;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
  }
  .frame12391-text21 {
    top: 2278px;
    left: 374px;
    color: rgba(255, 255, 255, 1);
    width: 679px;
    height: 65px;
    position: absolute;
    font-size: 37.14285659790039px;
    align-self: auto;
    font-style: normal;
    text-align: center;
    font-family: Rubik Mono One;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
  }
  .frame12391-text22 {
    top: 2446px;
    left: 215px;
    color: rgba(255, 255, 255, 1);
    width: 523px;
    height: 404px;
    position: absolute;
    font-size: 18px;
    align-self: auto;
    font-style: normal;
    text-align: left;
    font-family: Rubik Mono One;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
  }
  .frame12391-text28 {
    top: 3609px;
    left: 388px;
    color: rgba(255, 255, 255, 1);
    width: 750px;
    height: 78px;
    position: absolute;
    font-size: 22px;
    align-self: auto;
    font-style: normal;
    text-align: center;
    font-family: Rubik Mono One;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
  }
  .frame12391-text32 {
    top: 3794px;
    left: 223px;
    color: rgba(255, 255, 255, 1);
    width: 581px;
    height: 146px;
    position: absolute;
    font-size: 14px;
    align-self: auto;
    font-style: normal;
    text-align: left;
    font-family: Rubik Mono One;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
  }
  .frame12391-text36 {
    top: 4026px;
    left: 223px;
    color: rgba(255, 255, 255, 0.3400000035762787);
    width: 264px;
    height: 115px;
    position: absolute;
    font-size: 8.516128540039062px;
    align-self: auto;
    font-style: normal;
    text-align: left;
    font-family: Rubik Mono One;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
  }
  .frame12391-text42 {
    top: 4312px;
    left: 450px;
    color: rgba(255, 255, 255, 1);
    width: 540px;
    height: 85px;
    position: absolute;
    font-size: 24px;
    align-self: auto;
    font-style: normal;
    text-align: center;
    font-family: Rubik Mono One;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
  }
  